/* ========= Responsive ========== */

@media screen and (max-width: 415px) {
    .logo {
        flex: 1 0 100%;
  text-align: center;
    }

    .add_button_wrapper {
        padding-left: 55px;
    }

    .add_button {
        font-size: 8px; 
          width: 120px;
         height: 20px;
    }
    
    .pizza_wrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .pizza_wrapper {
       flex-flow: row wrap;
       justify-content: center;
       align-items: center;
    }
    
}

@media screen and (max-width: 1024px) {
    .pizza_wrapper {
        flex-flow: row wrap;
        justify-content: space-around;
     }
}

