body {
	background: #eceef4;
	font-family: 'Nunito Sans', sans-serif;
}

.head_sec {
	width: 100%;
	min-height: 150px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;	
}

  .go_back, .sign_in {
	background-color: #eceef4;
	border:  0.5px solid #c9d0e1;
	width: 	127px;
	height: 41px;
	border-radius: 4px;
	outline: 0;
	font-size: 10px;
	color: rgb(165,171,197);
	cursor: pointer;
}

.go_back:hover, 
.sign_in:hover, 
.select_1:hover,
.select_2:hover,
.select_3:hover,
.add_button:hover {
	border: skyblue 2px solid;
}

.go_back:active, .sign_in:active {
	background-color: skyblue;
}

.left_arrow, .plus {
	margin-top: 6px;
	margin-right: 9px;
	width: 12px;
	height: 12px;
}

.logo_head {
	width: 85px;
	height: 85px;
}

.face {
	margin-top: 6px;
	margin-right: 9px;
	width: 12px;
	height: 12px;
}

main {
	border: 0.5px solid #c9d0e1;
	font-family: 'Nunito Sans', sans-serif;
	border-radius: 4px;
	margin: 20px auto;
	margin-bottom: 80px;
	background-color: white;
	width: 76%;
	height: 100%;
}

.order_header {
	font-size: 12px;
	color: rgb(110, 118, 143);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 10px; 
	padding-left: 20px;
}

.sec_1 {
	border-bottom: 0.5px solid #c9d0e1;
}

.order_main {
	display: flex;
	flex-flow: column wrap;
	padding-left: 35px;
	padding-top:  20px;
}

.table_1 > table >tbody > tr {
	width: 450px;
	height: 12px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	font-size: 11px;
	color:rgb(110, 118, 143);
}

.table_2 > table >tbody > tr {
	width: 450px;
	height: 12px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	font-size: 10px;
	color:rgb(165,171,197);
}

#details {
	padding-left: 12px;
}

#price {
	padding-left: 15px;
}
#delivery {
	padding-right: 15px;
}

#lang_table_4 {
	padding-right: 32px;
}

#lang_table_3 {
	padding-left: 20px;
}

.button_order {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
	padding-right: 30px;
	padding-left: 20px;
}

.place_order {
	background-color: rgb(95,202,198);
	color: white;
	border:  0.5px solid #c9d0e1;
	border-radius: 4px;
	width: 130px;
	height: 40px;
	outline: 0;
	cursor: pointer;
}

.print_a_quote {
	background-color: #eceef4;
	border: 0.5px solid #c9d0e1;
	width: 130px;
	height: 40px;
	color: rgb(165,171,197);
	border-radius: 4px;
	outline: 0;
	cursor: pointer;
}

.place_order:hover, .print_a_quote:hover {
	border: skyblue 2px solid;
}

.place_order:active, .print_a_quote:active {
	background-color: skyblue;
}

.left {	
	display: flex;
	flex-flow: row wrap;
}

.right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border-left: 0.5px solid #c9d0e1;
	width: 220px;
	flex-flow: column wrap;
	justify-content: center;
	padding-left: 20px;	
	padding-top: 10px;
}

.help_center {
	font-size: 11px;
	color: rgb(110, 118, 143);
	max-width: 220px;
	padding-left: 15px;
	
}

.ring {
	padding-right: 10px;
}

.right_text {
	padding-top: 10px;
	padding-left: 40px;
	padding-bottom: 10px;
	font-size: 12px;
	color: rgb(165,171,197);
	width: 200px;
}


.help_contact {
	display: flex;
	justify-content: space-between;
	font-size: 10px;
	padding-left: 40px;
}

.order_wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding:10px;
}

.phone {
	font-size: 10px;
	color: rgb(110, 118, 143);
}

.email {
	font-size: 10px;
	color: rgb(110, 118, 143);
	padding-right: 10px;
}

.sec_2 {
	display: flex;
	justify-content: center;
}

.second_block {
	padding-top: 80px;
}

.second_block_text {
	border-bottom: 0.5px solid #c9d0e1; 
	font-size: 18px;
	color: rgb(110, 118, 143);
}

.sec_3 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 55px;
	margin-bottom: 80px;
}

.select_wrapper {
	width:  230px;
	height: 170px;
	border: 0.5px solid #c9d0e1;
	border-radius: 4px;
	background-color: rgb(247,247,250);
	cursor: pointer;
}

.label {
	margin-right: 20px;
}

.select_img {
	width: 		 80px;
	height:      90px;
	margin-top:  27px;
	margin-left: 70px;
}

.label_text {
	font-size: 16px;
	color:rgb(165,171,197);
	text-align: center;
	padding-top: 5px;
}

.sec_4 {
	display: flex;
	flex-flow: column wrap;
	margin-left: 50px;
}

.upload_doc {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 30px;
}

.number_one, .number_3, .number_5 {
	border: 0.5px solid rgb(110, 118, 143);
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.number_one_symbol {
	font-size: 14px;
	text-align: center;
	padding-top: 6px;
	color: rgb(110, 118, 143);
}

.doc_text {
	padding-left: 18px;
	padding-top: 3px;
}

.doc_text_style {
	font-size: 19px;
	color: rgb(110, 118, 143);
}

.small_doc_text {
	padding-left: 10px;
}

.small_doc_text_style {
	font-size: 10px;
	color:rgb(165,171,197);
    padding-top: 11px;
}

.upload_file_wrapper {
  display:flex;
  margin-bottom: 25px;
}

.file-upload__label {
	width: 140px;
	height: 10px;
	display: flex;
	flex-flow: row wrap;
	padding: 1em 2em;
	color: rgb(110, 118, 143);
	background-color: rgb(247,247,250);
	border-radius: 4px;
	border: 0.5px solid #c9d0e1; 
	font-size: 13px;
}

.file-upload__label:hover {
	cursor: pointer;
	border: skyblue 2px solid;    
}

.file-upload__label:active {
	background-color: skyblue;   
}

.file-upload__input {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}

.up_tb_container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	border: 0.5px solid #c9d0e1; 
	margin-bottom: 60px;
	margin-left: 50px;
	margin-right: 105px;
}

.up_tb_container {
	padding: 18px;
}

.biss_1 {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 13px;
}
.file_name {
	font-size: 12px;
	color: rgb(110, 118, 143);
	margin-bottom: 10px;
}

.biss_1_text_1 {
	font-size: 12px;
	color: rgb(165,171,197);
	padding-left: 10px;
}

.text_img, .text_img_2 {
	width:12px;
	height: 13px;
}

.container_1 {
	display: flex;
	flex-flow: column wrap;
	margin-left: 15px;
}

.biss_2_text_2 {
	padding-left: 10px;
	font-size: 12px;
	color: rgb(165,171,197);
}

.biss_2 {
	display: flex;
	flex-flow: row wrap;
}

.container_2 {
	display: flex;
	flex-flow: column wrap;
	
}

.file_size_text {
	font-size: 12px;
	color: rgb(110, 118, 143);
	margin-bottom: 12px;
}

.kb_1_text, .kb_2_text {
	font-size: 12px;
	color: rgb(165,171,197);
	padding-left: 10px;
}

.kb_2_text {
	margin-top: 12px;
}

.number_words {
	font-size: 12px;
	color: rgb(110, 118, 143);
	margin-bottom: 15px;
}

.num_1, .num_2 {
	font-size: 12px;
	color: rgb(165,171,197);
	padding-left: 10px;
}

.num_2 {
	margin-top: 12px;
}

.img_trash {
	width:  12px;
	height: 12px;
}

.remove_text {
	font-size: 12px;
	color: rgb(110, 118, 143);
	margin-bottom: 12px;
}

.container_3 {
	display: flex;
	flex-flow: column wrap;
}

.container_4 {
	margin-top: 2px;
	margin-right: 20px;
	display: flex;
	flex-flow: column wrap;
	text-align: center;
}

.sec_5 {
	  display: flex;
	flex-flow: column wrap;
  margin-left: 50px;
margin-bottom: 50px;
}

.choose_1 {
	  	  display: flex;
		flex-flow: row wrap;
	margin-bottom: 30px;
}

.choose_1_text_block, .number_3_text_wrap, .number_5_text_wrap {
	padding-left: 18px;
	   font-size: 19px;
    	   color: rgb(110, 118, 143);
}

.choose_1_number {
    	   border: 0.5px solid rgb(110, 118, 143);
    border-radius: 50%;
    		width: 30px;
    	   height: 30px;	
}

.number_2, .number_3_text {
	font-size: 14px;
   text-align: center;
  padding-top: 6px;
    	color: rgb(110, 118, 143);
}

.choose_2, .choose_3 {
	      display: flex;
		flex-flow: row wrap;
		align-items: center;
	 padding-left: 50px;
	margin-bottom: 30px;
}
.choose_2_text, .choose_3_text {
	font-size: 12px;
		color: rgb(110, 118, 143);
}

 .choose_2_select {
	margin-left: 15px;
} 

.choose_3_select_2 {
	margin-left: 30px;
}

.choose_2_select:after, .choose_3_select_2:after, .choose_3_select_3:after {
	position: relative;
	right: 28px;
	top: 3px;
	content: '▼';
    color: #9098b8;
	height: 20px; 
}

.select_1, .select_2, .select_3 {
	background: #f7f7fa;
	color: #9098b7;
	width: 120px;
	height: 35px;
	text-align-last: center; 
	text-align: center;
	border: 0.5px solid #d7d8e0;
	border-radius: 4px;
	outline: 0;
    -moz-appearance:none; 
    -webkit-appearance:none;
}

.add_button {
	background-color: #f7f7fa;
	color: #9098b7;
	text-align: center;
	 outline:  0;
	   width:  100px;
	  height:  35px;
	  border-radius: 4px;
}

.choose_3_button {
	margin-left: 20px;
}

.sec_6 {
	display: flex;
  flex-flow: row wrap;
margin-left: 50px;
margin-bottom: 10px;
}

.three {
	display: flex;
  flex-flow: column wrap;
}

.wrapper_three_1, .wrapper_three_2 .wrapper_three_3, .title_5, .upload_file {
	  display: flex;
    flex-flow: row wrap;
}

.wrapper_three_1 {
	margin-bottom: 10px;
}

.three_label_1, .three_label_2, .upload_label {
	padding-left: 50px;
	margin-bottom: 17px;
}
.wrapper_label_th_1,
.wrapper_label_th_2,
.wrapper_label_th_3 {
	display: flex;
	flex-flow: row wrap;
	width: 170px;
	height: 45px;
	background-color: rgb(247,247,250);
	text-align-last: center; 
	text-align: center;
	border: 0.5px solid #d7d8e0;
	border-radius: 4px;
}

.label_th_1_text, .label_th_2_text {
	padding-left: 10px;
	 padding-top: 14px;
		   color: #9098b7;
	   font-size: 14px;
}

.i_font_2, .i_font_3, .i_font_4 {
	padding-left: 20px;
	 padding-top: 14px;
	       color: #9098b7;
}
ul {
	list-style-type: none;
}

.four {
	display: flex;
	flex-flow: column wrap;
	margin-left: 130px;
}

.scroll_wrapper {
	display: flex;
	flex-flow: column wrap;
}

.scroll_text {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.scroll {
	width: 350px;
	padding-left: 30px;
}

  .scroll_text {
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: space-between;
	  padding-top: 10px;
	  font-size: 10px;
	  color: #9098b7;
  }

  .orange {
	color: #edbe76
  }

  .block_info {
	margin-top: 50px;
	margin-bottom: 80px;
	padding: 20px;
	border: 0.5px solid #d7d8e0; 
  }

  .head_block_info {
	  display: flex;
	  flex-flow: row wrap;
	  padding-left: 10px;
	  font-size: 12px;
	  color: rgb(111, 117, 147);
  }

  .time_line_img {
	  padding-right: 10px;
	  margin-bottom: 10px;
  }

  .block_info_text {
	  width: 300px;
	  padding-left: 23px;
	  font-size: 12px;
	  color: rgb(165,171,197);
  }

  .wrapper_main_three {
	  margin-left: 50px;
  }

  .sec_7 {
	  display: flex;
	  flex-flow: column wrap;
	  margin-bottom: 20px;
  }

  .title_5 {
	margin-left: 50px;
  margin-bottom: 30px;
  }

  .bottom_text {
  margin-left: 100px;
	  display: flex;
	flex-flow: row wrap;
margin-bottom: 35px;
  }

  .text_already {
	  padding-right: 5px;
	  font-size: 14px;
	  color: rgb(165,171,197);
  }

  a {
	color: rgb(165,171,197);
  }

  .input_name_wrapper {
	  display: flex;
	flex-flow: column wrap;
	padding-left: 100px;
  }

  .full_name {
	color: rgb(165,171,197);
	font-size: 12px;
	padding-bottom: 8px;
	padding-left: 7px;
  }

  .input_email_password_wrapper {
	  display: flex;
    flex-flow: row wrap;
 padding-left: 100px;
  }

  .input_password_wrapper {
	padding-left: 20px;
  }

  .sec_8 {
	  width: 650px;
	display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-left: 87px;
  margin-bottom: 50px;
  }

  .payment_wrapper {
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: center;
	  align-items: center;
	  width: 190px;
	  height: 80px;
	border: 0.5px solid #c9d0e1;
	border-radius: 4px;
	background-color: rgb(247,247,250);
	cursor: pointer;
  }

  .visa_img, .paypal_img, .amazon_img {
	  width: 90px;
	  height: 20px;
  }

  .sec_9 {
	  width: 650px;
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: space-around;
	  margin-left: 100px;
	  margin-bottom: 80px;
  }

  .card_number {
	  display: flex;
	  flex-flow: column wrap;
  }

  .expire_date {
	  margin-top: 8px;
  }

  .code {
	margin-top: 8px;
  }

  .sec_10 {
	  display: flex;
	  flex-flow: row wrap;
	  align-items: center;
	  margin-left: 300px;
	  margin-bottom: 70px;
  }

  .check_text_wrapper {
	  display: flex;
	  flex-flow: row wrap;
	  align-items: center;
  }

  .check_text {
	  padding-left: 10px;
  }

  .button_order_2 {
	  display: flex;
	  flex-flow: row wrap;
	  width: 300px;
	  margin-left: 20px;
	  justify-content: space-around;
  }

  .check_text {
	  font-size: 12px;
	  color: rgb(110, 118, 143);
  }


  /* ==========FOOTER========== */

  .sec_11 {
	     display: flex;
       flex-flow: row wrap;
 justify-content: space-around;
background-color: rgb(68,73,98);
	 font-family: 'Nunito Sans', sans-serif;
		   width: 100%;
		  height: 100%;
	 padding-top: 50px;
  padding-bottom: 70px;
	       color: rgb(201,208,237);
}

  .footer_text_block {
	  display: flex;
    flex-flow: column wrap;
  }

  .footer_text_block_head {
	  display: flex;
	flex-flow: row wrap;
margin-bottom: 8px;
  }

  .footer_text_block_main {
	  display: flex;
	flex-flow: column wrap;
  }

  .foot_main_sub {
	display: flex;
  flex-flow: row wrap;
  padding-bottom: 5px;
  }

  .footer_image {
	  margin-left: 80px;
  }

  .i_font_5 {
	  padding-right: 10px;
  }

  .foot_head_text {
	  font-size: 10px;
  }

  .footer_text_block_main {
	  font-size: 10px;
	  padding-left: 25px;
  }
